<center>
<br/>
<h1>Feed</h1>
<br/>
</center>
<p class="divider2"></p>
<% @posts.each do |post| %>
	<div class="feed-post">
		<p><span><%= image_tag(post.poster.avatar_medium) %></span><%= post.poster.first_name %> <%= post.poster.last_name %></p>
		<% if post.photos %>
			<% post.photos.each do |photo| %>
				<p>
				  <strong>Description:</strong>
				  <%= photo.description %>
				</p>

				<p>
				  <strong>Uploader:</strong>
				  <%= photo.uploader.first_name %>
				</p>

				<p>
				  <%= image_tag(photo.url) %>
				</p>
			<% end %>
		<% end %>
		<% if post.status %>
			<p><%= post.status %></p>
			<p>Posted: <%= post.created_at %></p>
		<% end %>
	</div>
<% end %>
