<h1>Welcome To Your Feed</h1>
<% @posts.each do |post| %>
	<div class="feed-post">
		<p><%= post.poster.first_name %> <%= post.poster.last_name %></p>
		<% if post.photos %>
			<% post.photos.each do |photo| %>
				<p>
				  <strong>Description:</strong>
				  <%= photo.description %>
				</p>

				<p>
				  <strong>Uploader:</strong>
				  <%= photo.uploader_id %>
				</p>

				<p>
				  <strong>Url:</strong>
				  <%= image_tag(photo.url) %>
				</p>
			<% end %>
		<% end %>
		<% if post.status %>
			<p><%= post.status %></p>
			<p>Posted: <%= post.created_at %></p>
		<% end %>
	</div>
<% end %>