<script type="text/javascript">
	$(function() {
	  $('.comments-feed').on('click', 'a#show', function(event) {
		event.preventDefault();
		$(this).parent().next().toggle("slow");
	   });
	});
</script>
<center>
<br/>
<h1>Feed</h1>
<br/>
</center>
<p class="divider2"></p>
<% @posts.each do |post| %>
	<div class="feed-post">
		<p><span><%= image_tag(post.poster.avatar_medium) %></span>
		<%= link_to post.poster.first_name + " " + post.poster.last_name, post.poster %><font size="2px">
		posted at <%= post.created_at.localtime.strftime("%I:%M %p") %> on <%= post.created_at.localtime.strftime("%e %b %Y") %></font>
		</p>

		<% if post.photos %>
			<% post.photos.each do |photo| %>
				<p>
				  <%= image_tag(photo.url) %>
				</p>
			<% end %>
		<% end %>
		<% if post.status %>
			<p><%= post.status %></p>
		<% end %>
		<div class="comments-feed">
          <p><strong>Comments</strong> 
          	<a href='#' id="show"><%= image_tag('cm30.png') %></a> |
          	<span><%= link_to 'Add Comment', new_post_comment_path(post) %></span>
          </p>
          <div id="show-comment">
          <ul>
          <% post.comments.all.each do |comment| %>
            <li><span class="comment-span">
              <%= image_tag(comment.commenter.avatar_small) %>
              <%= link_to comment.commenter.first_name, comment.commenter %> 
              (<%= comment.created_at.localtime.strftime("%I:%M %p") %>):
              <%= comment.text %>
            </span></li>
          <% end %>
         </ul>
         </div> 
        </div>
		<p class="divider1"></p>
	</div>
<% end %>
