<div class="user-profile-page">
<p id="notice"><%= notice %></p>

<% if session[:user_id] && session[:user_id] == @user.id %>
  <%= link_to 'Logout', logout_path %>
  <div id="add-friend">
    <button id="add-button">Add friend</button>
    <div id="all-users">
      <%= render 'partials/allusers' %>
    </div>
  </div>

  <div id="friend-request">
    <div id="all-requests">
      <%= render 'partials/allrequests' %>
    </div>
  </div>
<% end %>

<div class="user-profile">
  <h1>WELCOME TO FLIGHT</h1>
  <div id="loading">

  </div>
  <div class="user-avatar">

    <%= image_tag(@user.avatar_large) %>
     <% if session[:user_id] && session[:user_id] == @user.id %>
  	 <div id="change-avatar">
  	   <%= form_for @photo do |f| %>
        <%= f.hidden_field :description, value: 'avatar' %>
        <%= f.file_field :url, title: "Change my avatar" %>
        <div class="actions">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
  	 </div>
     <% end %>
  </div>

  <div class="user-info">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p><%= @user.email %></p>
  </div>

  <% if session[:user_id] && session[:user_id] == @user.id %>
  <div id="upload-new-photo">
    <p>Wanna upload a new photo?</p>
    <%= form_for @photo do |f| %>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
      <%= f.file_field :url %>
      <div class="actions">
        <%= f.submit "Upload Photo" %>
      </div>
    <% end %>
  </div>
  <% end %>

</div>
<p class="divider2"></p>

<h3><center>ALL UPLOADED PHOTOS</center></h3>
<div class="user-thumbnail-photos">
  <ul>
  <% non_ava_photos = @user.uploaded_photos.all - @user.profile_pics.all %>
  <% non_ava_photos.each do |photo| %>
    <li><%= image_tag(photo.url.fit_thumbnail, :class => "thumbnail-frame") %></li>
  <% end %>
  </ul>
</div>

<p class="divider2"></p>
<h3><center>ALL POSTS WILL BE DISPLAYED HERE</center></h3>
<div class="user-timeline">
  <% @user.posts.each do |post| %>
    <div class="user-post">
        <p><%= post.status %></p>
        <p class="time-post">
        <span class="time-span">Created at: <%= post.created_at.localtime.strftime("%e %b %Y - %I:%M %p") %></span> |
        <span class="time-span"></span>
        <span class="time-span">Last update: <%= post.updated_at.localtime.strftime("%e %b %Y - %I:%M %p") %></span> |
        <span class="time-span"></span>
        <span class="time-span">
        by <%= link_to post.poster.first_name + " " + post.poster.last_name, post.poster %>
        </span>
      </p>

      <% post.photos.all.each do |photo| %>
        <%= image_tag(photo.url) %>
      <% end %>
    <div>
    <p class="divider1"></p>
  <% end %>
</div>
<% if session[:user_id] && session[:user_id] == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
</div>
