<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= link_to @photo.uploader.first_name + " " + @photo.uploader.last_name, @photo.uploader %>
</p>

<p>
  <strong>Url:</strong>
  <%= image_tag(@photo.url) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', @photo.uploader %>
